<!DOCTYPE html>
<html lang="en">

{% include "admin/admin_header.html" %}

<head>
</head>
<body>
    <br>
    <table style="margin: 0 auto;">
        <tr>
            <th style="text-align:center" colspan="3">Students</th></tr>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <!--<th>Remove Student</th>-->
        </tr>

        {% for row in all_students %}
        <tr>
            <th>{{row[0]}}</th>
            <th><a href="mailto:{{row[1]}}">{{row[1]}}</a></th>
            <!--
            <th>
                <form action="/admin/student/drop/{{row[1]}}" method="POST">
                    <input type="submit" value="Remove">
                </form>
            </th>
            -->
        </tr>
        {% endfor %}

    </table>
</body>
</html>