<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
  </head>
  <body>

    <h2>Login</h2>
    <form action="{{url}}" method="POST">
      <label for="Email">Email</label>
      <input type="text" name="Email" required>

      <label for="Password">Password</label>
      <input type="text" name="Password" required>

      <button type="submit">Insert</button>
    </form>
    {% if user_type %}
    <h2>Welcome {{user_type}}</h2>
    <h2>Your information is: {{user_data}}</h2>
    {% elif user_error == "login_error" %}
    <h2>Login error! Wrong username or password</h2>
    {% endif %}
  </body>
</html>