<!DOCTYPE html>
<html lang="en">

{% include "header.html" %}
{% set info = assignment["information"] %}
<body>
    <h3>{{assignment['course_id']}}-{{assignment['sec_no']}}</h3>
    <p>{{assignment_type}} #{{info[0]}}: {{info[1]}}</p>

    <table style="table-layout: fixed; width:30%">

        <tr class="header">
            {% for header in assignment["headers"] %}
            <th>{{header}}</th>
            {% endfor %}
        </tr>
        {%for grade in assignment['grades'] %}
        <tr>
            <th><a href="/user/{{grade[2]}}">{{grade[0]}}</a></th>
            <th style="width:15%;">
            <form action="/courses/{{assignment['course_id']}}/{{assignment['sec_no']}}/{{assignment_type.lower()}}/{{info[0]}}" method="POST">
                {% if grade[1] is none %}
                <input type="number" step="0.01" min="0.0" max="100.0" name="grade" placeholder="Not graded" required>
                {% else %}
                <input type="number" step="0.01" min="0.0" max="100.0" name="grade" value="{{grade[1]}}" required>
                {% endif %}
                <input type="hidden" name="email" value="{{grade[2]}}">
                <input type="submit" value="Update">
                {% if grade_id is defined and grade_id == grade[2] %}
                ✓
                {% endif %}
            </form>
            </th>
        </tr>
        {% endfor %}

    </table>
</body>
</html>